@import "../assets/styles/app.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: #f3f4f6;
    --text-black: #1F1F1F;
    --foreground: #4B5563;
    --primary: #FF8800;
    --menu-hover: #f3f4f6;
    --menu-active: #e5e7eb;
    --color-background-default: #FBFBFB;
}

body {
    color: var(--text-black);
    background: var(--background);
    font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
}

a, a:hover {
    color: inherit;
}

input::placeholder {
    color: var(--foreground);
}

button[type='submit'] {
    font-weight: 600;
}